{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Notre concept - Asiakeo</title>
{% endblock title %}
{% block pagebody %}

<div id="fullpage" class="philo-main">

<div class="section" id="first">
  <div class="arrow bounce"></div>
  <div class="inner-philo clearfix">

    <div class="txt-cont-philo">
    <img src="{% static 'images/logo.png' %}" class="logo-philo" />
    <p>Asiakeo est un concept unique fusionnant les saveurs d'Asie et du Japon en
livraison, sur place ou à emporter. Nos produits sont fraichement préparés sur
place, une réelle alternative au fast food tout à la fois accessible. Nous vous
invitons dès maintenant à venir partager des moments de plaisir et de
convivialité. Choisissez parmi une très large sélection de spécialités entre
cuisine japonaise et asiatique.</p>
<img src="{% static 'images/signes-concept.png' %}" class="img-first-signes" />
</div>
</div>
</div>

<div class="section" id="second">
  <div class="arrow bounce"></div>
  <div class="inner-philo clearfix">
    <div class="img-cont-philo clearfix">
      <div class="img-reveal"></div>
      <div class="img-reveal"></div>
    </div>
    <div class="txt-cont-philo">
<h3>Origine</h3>
<p><strong>Fils de restaurateurs asiatique, baignés depuis leur enfance dans ce
milieu et passionnés de cuisine.</strong> En 2008 après leurs études et quelques
économies deux frères Eurasiens décident d’ouvrir leur premier restaurant de
<strong>fusion asiatique « ASIAKEO »</strong>. Le nom de l’enseigne est à
l’origine de leur prénom, asia pour le côté asiatique, ke pour kevin, o pour jo ,
les 2 prénoms de co-fondateurs.<br /><br />

A la différence de leurs concurrents, ils proposent une <strong>carte
variée</strong> fusionnant sushi et plats chauds notamment les bo buns, les
nouilles, le riz cantonnais, les nems…<br /><br />

Leur petit restaurant rencontre un franc succès ils déménagent dans de plus
grands locaux sur Antibes. Puis en 2016, ils ouvrent leur <strong>2ème point de
vente</strong> en plein cœur du <strong>Centre de Cannes</strong>.</p>
</div>
</div>
</div>

<div class="section" id="third">
  <div class="arrow bounce"></div>
  <div class="inner-philo clearfix">

    <div class="txt-cont-philo">
      <h3>Engagement qualité</h3>
      <p>Les recettes transmises de <strong>génération en génération</strong> ont
permis de conserver ce goût si <strong>authentique</strong>. Nous sélectionnons
les <strong>meilleurs ingrédients</strong> pour vous assurer la qualité. Nos
produits sont <strong>frais et cuisinés sur place à la minute</strong> afin de
faire de votre repas un pur moment de plaisir.<br /><br />

Chez Asiakeo nous nous efforçons chaque jour de vous assurer le meilleur
service. Notre équipe travaille constamment sur de nouveaux projets afin de vous
<strong>satisfaire</strong> au mieux.<br /><br />

N’hésitez pas à nous faire part de vos remarques afin de sans cesse nous
améliorer dans la rubrique service consommateur « suggestions ». Nous serons
ravis de partager nos ambitions selon <strong>vos envies</strong> !</p>
</div>
</div>
</div>

<div class="section" id="fourth">
  <div class="inner-philo clearfix">
    <div class="img-cont-philo clearfix">
      <div class="img-reveal"></div>
      <div class="img-reveal"></div>
      <div class="img-reveal"></div>
      <div class="img-reveal"></div>
    </div>
    <div class="txt-cont-philo">
      <h3>Service traiteur</h3>
      <p>Asiakeo vous accompagne dans l'<strong>organisation de vos
événements</strong> : anniversaire, mariage, réception, buffet, repas
d'affaires… nous mettons à votre disposition le <strong>savoir-faire</strong> et
<strong>conseils</strong> de nos professionnels.<br /><br />

Un service sur-mesure vous faisant profiter de <strong>tarifs
préférentiels</strong>.<br /><br />

N’hésitez pas à contacter notre équipe commercial pour obtenir un devis par mail
<a href="mailto:contact@asiakeo.com">contact@asiakeo.com</a> nous tâcheront de
vous répondre au plus vite.</p>
</div>
</div>
</div>

  {% include 'footer.html' %}
</div>
{% endblock pagebody %}